main{
  Background:rgba(255,255,255,0.1)
}
h2{
  color:#1460AA

}
h3{
  color:black;
  background:#7C898B
}
.main-heading{
  color:white;
  padding:20px;

}
.links{
  background: white;
  height:60px;
  position:fixed;
  top:0;
  width:100%

}
.links__bar{
color:black;
  display:none;
  padding:12px;
  
}

  .links__bar--open{
    color:black;
    display:block;
   
    background:white;
  }
.links__bar--link{
  border:1px black solid;
  border-radius:5px;
  padding:4px;
  margin:5px;
  color:black;
  display:block;
}
.hamburger{
  position:absolute;
  right:20px;
  top:20px;
}


.heading{
  color:white;
  background:#7C898B;
  max-width:100%;
  margin:auto;
  border-radius:7px;
}
.heading__about-me{
max-width:100%;
margin:auto;
padding:30px;
font-size:large;
}
.heading__how-to-start{
  max-width:100%;
margin:auto;
padding:30px;
font-size:large;
}
.heading__is-it-easy{
 max-width:100%;
margin:auto;
padding:30px;
font-size:large;
}
main{
  max-width:100%;
  margin:auto;
  text-align:center;
  margin-top:60px;
}
html{
  background: rgb(23,199,191);
  background: radial-gradient(circle, rgba(23,199,191,1) 26%, rgba(9,9,121,1) 81%, rgba(0,212,255,1) 100%);
}
.image{

  max-width:100%;
  
}
.back{
  color:brown;
}

