main{
    Background:#a1a8ad
}
h2{
    color:#1460AA

}
h3{
    color:black;
    background:#7C898B
}
.main-heading{
    color:#2873ac;
   
}
.main-link{
color:black
}
.heading{
    color:black;
    background:#7C898B
}
html{
    Background:#93A3B1
}